body{
    background-color: rgb(204, 173, 33);
    text-align: center;
    margin: 0;
    padding: 0;
}
.khloe{
    background-color: rgb(121, 104, 10);
    padding: 10px;
}
.njoki{
    border: 8px solid rgba(81, 189, 99, 0.767);
    padding: 8px;
    display: inline-block;
    border-radius: 36px;
    color: aliceblue;
    
}
.mafa{
    margin: 75px;
}
.mafa p{
    font-size: 2em;
    font-style: oblique;
}
.wanjiru{
    background-color: beige;
    margin-top: 75px;
    padding:10px;
    width: 100%;
}